
.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    border: 10px solid black;
    background-image: url('./background.jpg');
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .card {
        flex-direction: row;
        max-width: 600px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
}

.card-title {
    font-family: Franklin Gothic, sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card-text {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 20px;
    font-family: arial, sans-serif;
    word-wrap: break-word;
}

.card-text-wrapper {
    background-color: rgba(0,0,0,0.85);
    width: 100%;
    color: white;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

.charcter-img-wrapper,
.charcter-img-wrapper img {
    width: 100%;
}

.audio-wrapper {
    background-color: black;
    width: 100%;
    padding: 20px;
    color: white;
    box-sizing: border-box;
    margin: 20px auto;
    max-width: 600px;
}

.audio-wrapper h2 {
    font-size: 35px;
    text-shadow: 0 0 20px #ff0000;
    margin-top: 10px;
    font-family: Franklin Gothic, sans-serif;
}

audio {
    width: 90%;
    margin: 0 auto;
}